//breakpoints
$breakpoints: 'xs', 'sm', 'md','lg', 'xl';
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//font
$largeSize: 20px;
$mediumSize: 18px;
$smallSize: 16px;

//colors

$defaultBorder: #efefef;
$primaryButtonColor: #0364c7;