@import '../../styles-helpers/helpers';

.orderListContainer{
    display: flex;
    flex-direction: column;  
    overflow: scroll; 
    & th,td{
        font-size: 1rem;
        text-align: left;
        padding: 10px;
        border: 1px solid $defaultBorder;
    }
}
